@{
    ViewBag.Title = "About";
}

<div class="page-header" >
    
    <div class="row">
        <div class="span12">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="span10">
            <ul class="breadcrumb">
                <li>@Html.ActionLink("Home","Index", "Home") <span class="divider">/</span></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>



<div class="row-fluid">
    <div class="span4">
        <h2>Rahat Ahsan Chowdhury</h2>
        <p>
            Id: OOP0141008 (BASIS 41th Batch) <br/>
            Chittagong University of Engineering & Technology (CUET)
        <p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    
</div>