@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
<div class="hero-unit">
    <h1>University Management App</h1>
    <p style="float: right;">
        Developed by - Rahat Ahsan
        
    </p>
    
</div>